<div class="post-container" *ngIf="post$ | async as post">
  <img [src]="post?.imageUrl" alt="" />
  <div class="post-info">
    <!-- <h1 class="post-name">{{ post?.name | titlecase }}</h1> -->
    <p class="post-description">{{ post.description }}</p>
    <div class="like-buttons" *ngIf="!likePending">
      <div class="likes">
        <i
          [ngClass]="{ 'fas liked': liked, far: !liked, disabled: disliked }"
          class="like fa-thumbs-up fa-lg"
          (click)="onLike()"
        ></i>
        <span>{{ post.likes }}</span>
      </div>
      <div class="dislikes">
        <i
          [ngClass]="{
            'fas disliked': disliked,
            far: !disliked,
            disabled: liked
          }"
          class="dislike fa-thumbs-down fa-lg"
          (click)="onDislike()"
        ></i>
        <span>{{ post.dislikes }}</span>
      </div>
    </div>
    <div class="like-pending" *ngIf="likePending"></div>
    <div class="control-buttons">
      <button mat-raised-button (click)="onBack()">
        Retour à la page principale
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="onModify()"
        *ngIf="userId === post.userId"
      >
        Modifiez votre Message
      </button>
      <button
        mat-raised-button
        color="warn"
        (click)="onDelete()"
        *ngIf="userId === post.userId"
      >
        Supprimez votre Messages
      </button>
    </div>
  </div>
</div>
