.post-container {
  img {
    margin: 10px;
    max-height: 500px;
    flex: 1;
  }
}

.post-info {
  padding: 40px 20px;
  flex: 1;
}

.post-name {
  margin: 0;

  font-size: 30px;
}
.post-description {
  font-size: 15px;
}
.control-buttons {
  display: flex;
  flex-direction: row;
}
.buttonModify {
  background-color: #ffd7d7;
}
button {
  width: 200px;
  height: 35px;
  display: block;
  margin: 20px auto;

  color: rgb(0, 0, 0);
  transition: 0.5s;
  border-radius: 50px;
  margin: 8px;
  color: #4e5166;
}
button:hover {
  box-shadow: #fd2d01 4px 4px 10px;
  cursor: pointer;
}
.buttonDelete {
  color: white;
  background-color: #fd2d01;
}

.like-buttons {
  display: flex;
  i {
    margin-right: 0.5em;
    cursor: pointer;
  }
}

.likes,
.dislikes {
  margin: 0 0.4em;
}

.liked {
  color: rgba(51, 219, 0, 1);
}

.disliked {
  color: rgba(219, 51, 0, 1);
}

.like {
  &:hover {
    color: rgba(51, 219, 0, 1);
  }
}

.dislike {
  transform: scaleX(-1) translateY(5px);
  &:hover {
    color: rgba(219, 51, 0, 1);
  }
}

.disabled {
  cursor: none;
  &:hover {
    color: rgba(190, 190, 190, 1);
  }
  color: rgba(190, 190, 190, 1);
}

.control-buttons {
  button {
    margin: 1em 1em 0 0;
  }
}
