<ng-container *ngIf="posts$ | async as posts">
  <p class="list-title">Click sur une photo pour l'agrandir !</p>
  <div class="post-list">
    <div class="post-list-item" *ngFor="let post of posts">
      <div class="info-user">
        Username :{{ post.username }}

        <div>
          <p>
            à
            {{ post.createdDate | date: "HH:mm, le d MMMM yyyy" }}
          </p>
        </div>
      </div>

      <img
        (click)="onClickPost(post._id)"
        alt="message"
        [src]="post.imageUrl"
      />

      <p>{{ post.description }}</p>
      <div>
        <button
          class="buttonModify"
          mat-raised-button
          *ngIf="userId === post.userId || admin"
        >
          Modifier
        </button>
        <button
          class="buttonDelete"
          mat-raised-button
          *ngIf="userId === post.userId || admin"
        >
          Supprimer
          <!-- (click)="onModify()"
          (click)="onDelete()" -->
        </button>
      </div>
    </div>
  </div>
</ng-container>

<!-- <div class="like-buttons" *ngIf="!likePending">
  <div class="likes">
    <i
      [ngClass]="{ 'fas liked': liked, far: !liked, disabled: disliked }"
      class="like fa-thumbs-up fa-lg"
      (click)="onLike()"
    ></i>
    <span>{{ post.likes }}</span>
  </div>
  <div class="dislikes">
    <i
      [ngClass]="{
        'fas disliked': disliked,
        far: !disliked,
        disabled: liked
      }"
      class="dislike fa-thumbs-down fa-lg"
      (click)="onDislike()"
    ></i>
    <span>{{ post.dislikes }}</span>
  </div>
</div> -->
