.post-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.post-list-item {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  box-shadow: 1px 1px 20px rgba(120, 120, 120, 0.3);
  margin: 5px;
  img {
    padding: 15px;
    max-width: 200px;
    max-height: 200px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    text-align: left;

    &:hover {
      transform: scale(1.05);
    }
  }
  p {
    text-align: center;
    margin: auto;
  }
}
button {
  width: 95px;
  height: 35px;
  display: block;
  margin: 20px auto;
  background-color: #ffd7d7;
  color: rgb(0, 0, 0);
  transition: 0.5s;
  border-radius: 50px;
  margin: 8px;
  color: #4e5166;
}
button:hover {
  box-shadow: #fd2d01 4px 4px 10px;
  cursor: pointer;
}
.buttonDelete {
  color: #fd2d01;
}
.list-title {
  text-align: center;
  margin: 5px;
}
.post-form {
  box-shadow: rgb(80, 75, 75) 4px 4px 20px;
}
.info-user {
  padding: 30px;
}
