/* You can add global styles to this file, and also import other style files */
* {
  font-family: Lato, Helvetica, sans-serif;
}
html,
body {
  height: 100%;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: 0.1em;
  margin: 0;
  white-space: pre-line;
}

// mat-spinner {
//   margin: auto;
// }
