<!-- <mat-spinner *ngIf="loading"></mat-spinner> -->
<p class="wellcome-title">Bienvenue sur votre réseau social d'entreprise</p>
<p class="connected-title">Inscrivez-vous !</p>
<form [formGroup]="signupForm" *ngIf="!loading">
  <div class="form-group">
    <label for="username">Username*</label>
    <input
      type="username"
      class="form-control"
      id="username"
      formControlName="username"
    />
  </div>

  <div class="form-group">
    <label for="email">Email*</label>
    <input
      type="email"
      class="form-control"
      id="email"
      formControlName="email"
    />
  </div>
  <div class="form-group">
    <label for="password">Password*</label>
    <input
      type="password"
      class="form-control"
      id="password"
      formControlName="password"
    />
  </div>

  <button
    mat-raised-button
    color=""
    [disabled]="signupForm.invalid"
    (click)="onSignup()"
  >
    INSCRIPTION
  </button>
  <p class="text-danger" *ngIf="errorMsg">{{ errorMsg }}</p>
</form>
