<form [formGroup]="postForm" *ngIf="!loading">
  <!-- <div class="form-group">
    <label for="title">Titre de votre message</label>
    <input
      type="text"
      class="form-control"
      id="title"
      formControlName="title"
    />
  </div> -->
  <div class="form-group">
    <label for="description">Ecrivez votre message</label>
    <textarea
      class="form-control"
      id="description"
      rows=""
      formControlName="description"
    ></textarea>
  </div>
  <div class="form-group">
    <input
      type="file"
      accept="image/*"
      #imageInput
      (change)="onFileAdded($event)"
    />
    <button mat-raised-button color="primary" (click)="imageInput.click()">
      Ajout d'image
    </button>
    <img
      [src]="imagePreview"
      *ngIf="imagePreview"
      style="max-height: 100px; display: block; margin-top: 10px"
    />
  </div>
  <button
    mat-raised-button
    color="primary"
    (click)="onSubmit()"
    [disabled]="postForm.invalid"
  >
    Envoyez votre message !
  </button>
</form>
